.recent {
    padding: 40px 20px;
}

/* Main Layout */
.layout {
    display: flex;
    gap: 20px;
}

/* LEFT SIDE - BIG NEWS */
.focus {
    flex: 2;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.focus img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.focusContent {
    padding: 15px;
    background: white;
}

.focusContent h3 {
    margin: 10px 0;
    font-size: 22px;
}

.focusContent p {
    color: #555;
}

p,
h3 {
    margin-top: 0px;
}