.interNational {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}



.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;

}

.card h3 {
    font-size: 18px;
    margin: 30px 0 30px;
}

.card p {
    font-size: 14px;
    color: #555;
}