.sports {
    padding: 20px;
}

.sportsLayout {
    display: flex;
    gap: 20px;
}


.sportsFocus {
    flex: 2;
    display: flex;
    gap: 20px;
}

/* Big main card */
.focusCard img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.focusCard {
    flex: 2;
}

/* Right side small cards */
.sportsNext {
    flex: 1;
    gap: 15px;
}

.smallCard img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.smallCard {
    background: white;
    border-radius: 6px;
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.smallCardFlex {
    display: flex;
    flex-direction: column;
    text-align: center;
}