.newsInFocus {
    display: flex;
    gap: 20px;
    /* spacing between focus and next */
}

.side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.smallCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

.smallCard img {
    width: 135px;
    height: 90px;
    object-fit: cover;
    border-radius: 6px;
}

.smallCard h4 {
    margin: 5px 0 0;
    font-size: 14px;
}

/* Category badge */
.category {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #e10600;
}