.news {
    margin: auto;
    padding: 20px;
}

.topSection {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

@media (max-width: 900px) {
    .topSection {
        grid-template-columns: 1fr;
    }
}